/**
 * Template: Blog
 */

/* Utils */

/**
 * Variables
 */

.blog {
  /*==============================
	=             Body            =
	==============================*/
  /*=====  Body  ======*/
}

.blog .blog-body {
  padding-top: 53px;
  padding-bottom: 102px;
}

.blog .blog-body .blog-body-title {
  margin-top: 6px;
}

.blog .blog-body .blog-body-intro {
  max-width: 540px;
  margin-bottom: 108px;
}

.blog .blog-body .blog-body-intro p {
  line-height: 1.2;
}

.blog .blog-body .blog-body-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
  margin-bottom: 54px;
  /* max-width: 810px; */
}

.blog .blog-body .blog-body-article {
  margin-bottom: 51px;
  width: calc(50% - 15px);
  background-color:rgb(249,249,249);
  padding:20px;
}

.blog .blog-body .blog-body-filter {
  flex-wrap:wrap;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  width: calc(50% - 15px);
}

/* .component-filters{
  max-width: 420px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.component-filters-title {
  margin-left:25px;
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  font-family: "Code Pro LC", sans-serif;
  font-size: 61px;
  font-weight: 700;
  line-height: 1.05;
}

.blog .blog-body .blog-body-article .blog-body-article-inner.animated {
  opacity: 0;
}

.blog .blog-body .blog-body-article:nth-child(2n) {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  /* margin-top: 100px;
  margin-bottom: -49px; */
}

.blog .blog-body .blog-body-article-image {
  width: 100%;
  display: block;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  margin-bottom: 33px;
  overflow: hidden;
}

.blog .blog-body .blog-body-article-image:hover img {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.blog .blog-body .blog-body-article-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.blog .blog-body .blog-body-article-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  font-family: "Code Pro LC", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: normal;
}

.blog .blog-body .blog-body-article-title a {
  color: inherit;
}

.blog .blog-body .blog-body-article-meta {
  margin-top: 0.5em;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: space-between;
}

.blog .blog-body .blog-body-article-meta p {
  margin-bottom: 0;
  font-size: 16px;
}

.blog .blog-body .blog-body-article-metaButton {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  padding: 8px 22px 5px;
  font-size: 14px;
  font-weight: normal;
}

.blog .blog-body .blog-body-article-text {
  margin-bottom: 5px;
}

.blog_section__row {
  display: grid;
  grid-template-columns:1fr;
  grid-gap: 62px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.filter-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  font-family: "Code Pro LC", sans-serif;
  font-size: 61px;
  font-weight: 700;
  line-height: 1.05;
}

@media (max-width: 991px) {
  .blog .blog-body {
    padding-top: 35px;
  }

  .blog .blog-body .blog-body-intro {
    margin-bottom: 80px;
  }

  .blog .blog-body .blog-body-list {
    margin-bottom: 40px;
    padding-bottom: 80px;
    max-width: 100%;
  }

  .blog .blog-body .blog-body-article {
    margin-bottom: 40px;
  }

  /* .blog .blog-body .blog-body-article:nth-child(2n) {
    margin-top: 80px;
    margin-bottom: -39px;
  } */
}

@media (max-width: 767px) {

  .blog .blog-body .blog-body-filter {
    width:100%;
    margin-bottom:2em;
  }

  .component-filters-listItem a{
    font-size:21px;
  }

  .component-filters-title{
    font-size:25px;
  }

  .blog .blog-body {
    padding-bottom: 54px;
  }

  .blog .blog-body .blog-body-title {
    margin-top: 0;
    line-height: 1.07;
    font-size: 30px;
  }

  .blog .blog-body .blog-body-intro {
    margin-bottom: 54px;
    padding-top: 7px;
  }

  .blog .blog-body .blog-body-list {
    max-width: 390px;
    padding-bottom: 0;
  }

  .blog .blog-body .blog-body-article {
    width: 100%;
    margin-bottom: 0;
  }

  .blog .blog-body .blog-body-article:not(:last-of-type) {
    margin-bottom: 53px;
  }

  /* .blog .blog-body .blog-body-article:nth-child(2n) {
    margin-top: 0;
    margin-bottom: 0;
  } */

  .blog .blog-body .blog-body-article:not(:last-of-type) {
    margin-bottom: 53px;
  }

  .blog .blog-body .blog-body-article-image {
    margin-bottom: 13px;
  }

  .blog .blog-body .blog-body-article-text {
    margin-bottom: 15px;
  }

  .blog .blog-body .blog-body-article-text p {
    line-height: 1.2;
  }
}

@media (max-width: 374px) {
  .blog .blog-body .blog-body-article-meta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .blog .blog-body .blog-body-article-metaButton {
    margin-left: 0;
    margin-top: 10px;
    padding: 8px 13px 5px;
  }
}